@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  /*background: #010101;*/
}

.main {
  background: #010101;
}

.mobile-w {
  max-width: 32%;
}

@media (orientation: landscape) {
  .mobile-w {
    max-width: 48%;
  }
}

@media (max-width: 767px) {
  .mobile-w {
    max-width: 100%;
  }
}


input {
  color: black;
}


::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.thumb-teste img{
  width: 50% !important;
}

.j-gray{
  background-color: #dee1e6 !important;
}

.j-black{
  background-color: black !important;
}

.chrome-tabs-bottom-bar{
  height: 2px  !important;
  bottom: 2px !important;
  
}